<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr560_r3100_2">

  <!-- Include the macro file defining the robot links/joints -->
  <xacro:include filename="$(find kuka_kr560_desc)/urdf/kr560_r3100_2_macro.xacro"/>
  <xacro:include filename="$(find kuka_kr560_desc)/urdf/kr_fortec_ros2_control.xacro"/>
  <xacro:include filename="$(find kuka_kr560_desc)/urdf/kr_fortec_transmission.xacro"/>

  <!-- Optional arguments for world placement -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0"/>
  <xacro:arg name="roll" default="0"/>
  <xacro:arg name="pitch" default="0"/>
  <xacro:arg name="yaw" default="0"/>

  <!-- Instantiate the robot macro -->
  <xacro:kuka_kr560_r3100_2_robot prefix="$(arg prefix)">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </xacro:kuka_kr560_r3100_2_robot>

</robot>

