<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Transmission macro for ROS-Industrial / ros_control -->
  <xacro:macro name="kuka_fortec_transmission" params="prefix">

    <!-- Joint 1 -->
    <transmission name="${prefix}joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_1_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <!-- Joint 2 -->
    <transmission name="${prefix}joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${prefix}joint_2_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
      <joint name="${prefix}joint_2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <!-- Joint 3 -->
    <transmission name="${prefix}joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${prefix}joint_3_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
      <joint name="${prefix}joint_3">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <!-- Joint 4 -->
    <transmission name="${prefix}joint_4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${prefix}joint_4_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
      <joint name="${prefix}joint_4">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <!-- Joint 5 -->
    <transmission name="${prefix}joint_5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${prefix}joint_5_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
      <joint name="${prefix}joint_5">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

    <!-- Joint 6 -->
    <transmission name="${prefix}joint_6_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${prefix}joint_6_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
      <joint name="${prefix}joint_6">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>

  </xacro:macro>

</robot>
